In [2]:
import pandas as pd
import numpy as np
import os

## Importing all csv's and Merging

In [100]:
path = r'C:\Users\acer\Desktop\Data Science Innomatics\ML\Projects\End-To-End\International_Cricket_Dashboard\Data'

dataframes = {}

for i, file in enumerate(os.listdir(path), start=1):
    file_path = os.path.join(path, file)
    df = pd.read_csv(file_path)
    df['team_name'] = file[:file.find('.')]
    dataframes[f'df{i}'] = df

In [101]:
dataframes

{'df1':                   Player  Matches_Test  Matches_ODI  Matches_T20  Matches_IPL  \
 0             Aftab Alam             0           27           12            0
 1          Asghar Afghan             6          114           75            0
 2          Dawlat Zadran             0           82           33            0
 3          Gulbadin Naib             0           89           74            2
 4           Hamid Hassan             0           38           25            0
 5   Hashmatullah Shahidi            10           90            6            0
 6      Hazratullah Zazai             0           16           45            0
 7          Mohammad Nabi             3          173          131           24
 8       Mohammad Shahzad             2           84           72            0
 9       Mujeeb Ur Rahman             1           75           49           19
 10     Najibullah Zadran             0           92          107            0
 11       Noor Ali Zadran             2           51           22            0
 12           Rahmat Shah            11          123            1            0
 13           Rashid Khan             6          114           96          122
 14    Samiullah Shinwari             0           84           64            0

     batting_Innings_Test  batting_Innings_ODI  batting_Innings_T20  \
 0                      0                   17                    5
 1                     10                  108                   68
 2                      0                   56                   17
 3                      0                   78                   64
 4                      0                   22                    9
 5                     19                   88                    4
 6                      0                   16                   45
 7                      6                  151                  124
 8                      4                   84                   73
 9                      2                   40                   14
 10                     0                   84                   95
 11                     4                   50                   23
 12                    21                  118                    1
 13                     9                   87                   59
 14                     0                   74                   56

     batting_Innings_IPL  batting_Runs_Test  ...  bowling_IPL_4w  \
 0                     0                  0  ...               0
 1                     0                440  ...               0
 2                     0                  0  ...               0
 3                     1                  0  ...               0
 4                     0                  0  ...               0
 5                     0                757  ...               0
 6                     0                  0  ...               0
 7                    19                 33  ...               1
 8                     0                 69  ...               0
 9                     7                 18  ...               0
 10                    0                  0  ...               0
 11                    0                117  ...               0
 12                    0                970  ...               0
 13                   60                154  ...               2
 14                    0                  0  ...               0

     bowling_Test_5w  bowling_ODI_5w  bowling_T20_5w  bowling_IPL_5w  \
 0                 0               0               0               0
 1                 0               0               0               0
 2                 0               0               0               0
 3                 0               1               0               0
 4                 0               1               0               0
 5                 0               0               0               0
 6                 0               0               0               0
 7                 0               1               0               0
 8                 0               0               0               0
 9                 0               1               1               0
 10                0               0               0               0
 11                0               0               0               0
 12                0               1               0               0
 13                5               5               2               0
 14                0               0               1               0

     bowling_Test_10w  bowling_ODI_10w  bowling_T20_10w  bowling_IPL_10w  \
 0                  0                0                0                0
 1                  0                0                0                0
 2                  0                0                0                0
 3                  0                0                0                0
 4                  0                0                0                0
 5                  0                0                0                0
 6                  0                0                0                0
 7                  0                0                0                0
 8                  0                0                0                0
 9                  0                0                0                0
 10                 0                0                0                0
 11                 0                0                0                0
 12                 0                0                0                0
 13                 3                0                0                0
 14                 0                0                0                0

       team_name
 0   Afghanistan
 1   Afghanistan
 2   Afghanistan
 3   Afghanistan
 4   Afghanistan
 5   Afghanistan
 6   Afghanistan
 7   Afghanistan
 8   Afghanistan
 9   Afghanistan
 10  Afghanistan
 11  Afghanistan
 12  Afghanistan
 13  Afghanistan
 14  Afghanistan

 [15 rows x 118 columns],
 'df2':                 Player  Matches_Test  Matches_ODI  Matches_T20  Matches_IPL  \
 0          Aaron Finch             5          146          103           92
 1         Steven Smith           116          170           67          103
 2         David Warner           112          161          110          184
 3   Marnus Labuschagne            57           63            1            0
 4            Joe Burns            23            6            5            0
 5        Will Pucovski             1            0            0            0
 6          Travis Head            56           73           38           26
 7        Glenn Maxwell             7          149          116          134
 8       Marcus Stoinis             0           71           74           96
 9     Moises Henriques             4           16           24           62
 10       Cameron Green            28           28           13           29
 11         Ashton Agar             5           22           49            0
 12         Daniel Sams             0            0           10           16
 13       Michael Neser             2            4            0            1
 14          Alex Carey            39           80           38            3
 15        Matthew Wade            36           97           92           15
 16           Tim Paine            35           35           12            2
 17         Pat Cummins            67           90           57           59
 18         Nathan Lyon           136           29            2            0
 19      Mitchell Starc            96          127           65           40
 20          Adam Zampa             0          111           95           21
 21         Sean Abbott             0           28           20            3
 22      Josh Hazlewood            72           91           52           28
 23          Andrew Tye             0            7           32           30
 24     James Pattinson            21           15            4           10
 25    Mitchell Swepson             4            3            8            0

     batting_Innings_Test  batting_Innings_ODI  batting_Innings_T20  \
 0                     10                  142                  103
 1                    206                  154                   55
 2                    205                  159                  110
 3                    102                   56                    1
 4                     40                    6                    5
 5                      2                    0                    0
 6                     93                   70                   37
 7                     14                  136                  106
 8                      0                   64                   61
 9                      8                   15                   21
 10                    43                   24                   12
 11                     7                   18                   29
 12                     0                    0                    7
 13                     3                    4                    0
 14                    57                   72                   26
 15                    63                   83                   68
 16                    57                   35                    9
 17                    97                   59                   27
 18                   171                   14                    1
 19                   139                   75                   21
 20                     0                   55                   22
 21                     0                   21                    7
 22                    88                   35                   10
 23                     0                    7                   15
 24                    25                    8                    2
 25                     5                    1                    5

     batting_Innings_IPL  batting_Runs_Test  ...  bowling_IPL_4w  \
 0                    90                278  ...               0
 1                    93              10271  ...               0
 2                   184               8786  ...               0
 3                     0               4396  ...               0
 4                     0               1442  ...               0
 5                     0                 72  ...               0
 6                    26               3719  ...               0
 7                   129                339  ...               0
 8                    88                  0  ...               1
 9                    54                164  ...               0
 10                   28               1377  ...               0
 11                    0                195  ...               0
 12                   13                  0  ...               1
 13                    0                 56  ...               0
 14                    3               1757  ...               0
 15                   14               1613  ...               0
 16                    2               1535  ...               0
 17                   42               1454  ...               1
 18                    0               1595  ...               0
 19                   17               2217  ...               2
 20                    5                  0  ...               0
 21                    3                  0  ...               0
 22                    6                510  ...               1
 23                   13                  0  ...               3
 24                    2                417  ...               0
 25                    0                 28  ...               0

     bowling_Test_5w  bowling_ODI_5w  bowling_T20_5w  bowling_IPL_5w  \
 0                 0               0               0               0
 1                 0               0               0               0
 2                 0               0               0               0
 3                 0               0               0               0
 4                 0               0               0               0
 5                 0               0               0               0
 6                 0               0               0               0
 7                 0               0               0               0
 8                 0               0               0               0
 9                 0               0               0               0
 10                1               1               0               0
 11                0               0               2               0
 12                0               0               0               0
 13                0               0               0               0
 14                0               0               0               0
 15                0               0               0               0
 16                0               0               0               0
 17               13               1               0               0
 18               24               0               0               0
 19               15               9               0               0
 20                0               1               1               1
 21                0               0               0               0
 22               12               3               0               0
 23                0               1               0               1
 24                4               0               0               0
 25                0               0               0               0

     bowling_Test_10w  bowling_ODI_10w  bowling_T20_10w  bowling_IPL_10w  \
 0                  0                0                0                0
 1                  0                0                0                0
 2                  0                0                0                0
 3                  0                0                0                0
 4                  0                0                0                0
 5                  0                0                0                0
 6                  0                0                0                0
 7                  0                0                0                0
 8                  0                0                0                0
 9                  0                0                0                0
 10                 0                0                0                0
 11                 0                0                0                0
 12                 0                0                0                0
 13                 0                0                0                0
 14                 0                0                0                0
 15                 0                0                0                0
 16                 0                0                0                0
 17                 2                0                0                0
 18                 5                0                0                0
 19                 2                0                0                0
 20                 0                0                0                0
 21                 0                0                0                0
 22                 0                0                0                0
 23                 0                0                0                0
 24                 0                0                0                0
 25                 0                0                0                0

     team_name
 0   Australia
 1   Australia
 2   Australia
 3   Australia
 4   Australia
 5   Australia
 6   Australia
 7   Australia
 8   Australia
 9   Australia
 10  Australia
 11  Australia
 12  Australia
 13  Australia
 14  Australia
 15  Australia
 16  Australia
 17  Australia
 18  Australia
 19  Australia
 20  Australia
 21  Australia
 22  Australia
 23  Australia
 24  Australia
 25  Australia

 [26 rows x 118 columns],
 'df3':                 Player  Matches_Test  Matches_ODI  Matches_T20  Matches_IPL  \
 0            Abu Jayed            13            2            3            0
 1           Litton Das            48           94           95            1
 2          Mahmudullah            50          239          141            0
 3     Mashrafe Mortaza            36          220           54            1
 4   Mehidy Hasan Miraz            51          105           29            0
 5      Mohammad Mithun            10           34           17            0
 6   Mohammad Saifuddin             0           29           38            0
 7     Mosaddek Hossain             4           43           33            0
 8      Mushfiqur Rahim            94          274          102            0
 9    Mustafizur Rahman            15          109          106           57
 10       Rubel Hossain            27          104           28            0
 11       Sabbir Rahman            11           66           48            0
 12     Shakib Al Hasan            71          247          129           71
 13       Soumya Sarkar            16           76           87            0
 14         Tamim Iqbal            70          243           78            0

     batting_Innings_Test  batting_Innings_ODI  batting_Innings_T20  \
 0                     22                    0                    2
 1                     84                   93                   93
 2                     94                  209                  130
 3                     67                  158                   39
 4                     93                   76                   24
 5                     18                   30                   13
 6                      0                   19                   21
 7                      8                   35                   31
 8                    174                  256                   93
 9                     22                   54                   32
 10                    47                   53                   15
 11                    22                   59                   47
 12                   130                  234                  126
 13                    30                   71                   86
 14                   134                  240                   78

     batting_Innings_IPL  batting_Runs_Test  ...  bowling_IPL_4w  \
 0                     0                 36  ...               0
 1                     1               2788  ...               0
 2                     0               2914  ...               0
 3                     1                797  ...               0
 4                     0               1952  ...               0
 5                     0                333  ...               0
 6                     0                  0  ...               0
 7                     0                173  ...               0
 8                     0               6007  ...               0
 9                     9                 66  ...               1
 10                    0                265  ...               0
 11                    0                481  ...               0
 12                   52               4609  ...               0
 13                    0                831  ...               0
 14                    0               5134  ...               0

     bowling_Test_5w  bowling_ODI_5w  bowling_T20_5w  bowling_IPL_5w  \
 0                 0               1               0               0
 1                 0               0               0               0
 2                 1               0               0               0
 3                 0               1               0               0
 4                10               0               0               0
 5                 0               0               0               0
 6                 0               0               0               0
 7                 0               0               1               0

In [102]:
data = pd.concat(dataframes, ignore_index=True)

In [103]:
data

,Player,Matches_Test,Matches_ODI,Matches_T20,Matches_IPL,batting_Innings_Test,batting_Innings_ODI,batting_Innings_T20,batting_Innings_IPL,batting_Runs_Test,...,bowling_IPL_4w,bowling_Test_5w,bowling_ODI_5w,bowling_T20_5w,bowling_IPL_5w,bowling_Test_10w,bowling_ODI_10w,bowling_T20_10w,bowling_IPL_10w,team_name
0,Aftab Alam,0,27,12,0,0,17,5,0,0,...,0,0,0,0,0,0,0,0,0,Afghanistan
1,Asghar Afghan,6,114,75,0,10,108,68,0,440,...,0,0,0,0,0,0,0,0,0,Afghanistan
2,Dawlat Zadran,0,82,33,0,0,56,17,0,0,...,0,0,0,0,0,0,0,0,0,Afghanistan
3,Gulbadin Naib,0,89,74,2,0,78,64,1,0,...,0,0,1,0,0,0,0,0,0,Afghanistan
4,Hamid Hassan,0,38,25,0,0,22,9,0,0,...,0,0,1,0,0,0,0,0,0,Afghanistan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,Tendai Chatara,9,87,60,0,18,57,16,0,94,...,0,1,0,0,0,0,0,0,0,Zimbabwe
205,Donald Tiripano,16,38,23,0,31,29,16,0,531,...,0,0,1,0,0,0,0,0,0,Zimbabwe
206,Chris Mpofu,15,84,32,0,28,41,11,0,105,...,0,0,1,0,0,0,0,0,0,Zimbabwe
207,Kyle Jarvis,13,49,21,0,24,33,12,0,128,...,0,3,0,0,0,0,0,0,0,Zimbabwe
208,Brandon Mavuta,5,14,13,0,8,10,10,0,82,...,0,1,0,0,0,0,0,0,0,Zimbabwe

In [64]:
data.to_csv("Final_data.csv",index=False)

## Data Cleaning

In [104]:
datac = data.copy()

In [105]:
## Null Vaues

dict(zip(datac.isna().sum().index, datac.isna().sum().values))

{'Player': 0,
 'Matches_Test': 0,
 'Matches_ODI': 0,
 'Matches_T20': 0,
 'Matches_IPL': 0,
 'batting_Innings_Test': 0,
 'batting_Innings_ODI': 0,
 'batting_Innings_T20': 0,
 'batting_Innings_IPL': 0,
 'batting_Runs_Test': 0,
 'batting_Runs_ODI': 0,
 'batting_Runs_T20': 0,
 'batting_Runs_IPL': 0,
 'batting_Balls_Test': 0,
 'batting_Balls_ODI': 0,
 'batting_Balls_T20': 0,
 'batting_Balls_IPL': 0,
 'batting_Highest_Test': 0,
 'batting_Highest_ODI': 0,
 'batting_Highest_T20': 0,
 'batting_Highest_IPL': 0,
 'batting_Average_Test': 0,
 'batting_Average_ODI': 0,
 'batting_Average_T20': 0,
 'batting_Average_IPL': 0,
 'batting_SR_Test': 0,
 'batting_SR_ODI': 0,
 'batting_SR_T20': 0,
 'batting_SR_IPL': 0,
 'batting_Not Out_Test': 0,
 'batting_Not Out_ODI': 0,
 'batting_Not Out_T20': 0,
 'batting_Not Out_IPL': 0,
 'batting_Fours_Test': 0,
 'batting_Fours_ODI': 0,
 'batting_Fours_T20': 0,
 'batting_Fours_IPL': 0,
 'batting_Sixes_Test': 0,
 'batting_Sixes_ODI': 0,
 'batting_Sixes_T20': 0,
 'batting_Sixes_IPL': 0,
 'batting_Ducks_Test': 0,
 'batting_Ducks_ODI': 0,
 'batting_Ducks_T20': 0,
 'batting_Ducks_IPL': 0,
 'batting_50s_Test': 0,
 'batting_50s_ODI': 0,
 'batting_50s_T20': 0,
 'batting_50s_IPL': 0,
 'batting_100s_Test': 0,
 'batting_100s_ODI': 0,
 'batting_100s_T20': 0,
 'batting_100s_IPL': 0,
 'batting_200s_Test': 0,
 'batting_200s_ODI': 0,
 'batting_200s_T20': 0,
 'batting_200s_IPL': 0,
 'batting_300s_Test': 0,
 'batting_300s_ODI': 0,
 'batting_300s_T20': 0,
 'batting_300s_IPL': 0,
 'batting_400s_Test': 0,
 'batting_400s_ODI': 0,
 'batting_400s_T20': 0,
 'batting_400s_IPL': 0,
 'bowling_Test_Innings': 0,
 'bowling_ODI_Innings': 0,
 'bowling_T20_Innings': 0,
 'bowling_IPL_Innings': 0,
 'bowling_Test_Balls': 0,
 'bowling_ODI_Balls': 0,
 'bowling_T20_Balls': 0,
 'bowling_IPL_Balls': 0,
 'bowling_Test_Runs': 0,
 'bowling_ODI_Runs': 0,
 'bowling_T20_Runs': 0,
 'bowling_IPL_Runs': 0,
 'bowling_Test_Maidens': 0,
 'bowling_ODI_Maidens': 0,
 'bowling_T20_Maidens': 0,
 'bowling_IPL_Maidens': 0,
 'bowling_Test_Wickets': 0,
 'bowling_ODI_Wickets': 0,
 'bowling_T20_Wickets': 0,
 'bowling_IPL_Wickets': 0,
 'bowling_Test_Avg': 0,
 'bowling_ODI_Avg': 0,
 'bowling_T20_Avg': 0,
 'bowling_IPL_Avg': 0,
 'bowling_Test_Eco': 0,
 'bowling_ODI_Eco': 0,
 'bowling_T20_Eco': 0,
 'bowling_IPL_Eco': 0,
 'bowling_Test_SR': 0,
 'bowling_ODI_SR': 0,
 'bowling_T20_SR': 0,
 'bowling_IPL_SR': 0,
 'bowling_Test_BBI': 0,
 'bowling_ODI_BBI': 0,
 'bowling_T20_BBI': 0,
 'bowling_IPL_BBI': 0,
 'bowling_Test_BBM': 0,
 'bowling_ODI_BBM': 0,
 'bowling_T20_BBM': 0,
 'bowling_IPL_BBM': 0,
 'bowling_Test_4w': 0,
 'bowling_ODI_4w': 0,
 'bowling_T20_4w': 0,
 'bowling_IPL_4w': 0,
 'bowling_Test_5w': 0,
 'bowling_ODI_5w': 0,
 'bowling_T20_5w': 0,
 'bowling_IPL_5w': 0,
 'bowling_Test_10w': 0,
 'bowling_ODI_10w': 0,
 'bowling_T20_10w': 0,
 'bowling_IPL_10w': 0,
 'team_name': 0}

In [106]:
## Duplicates

datac.duplicated().sum()

0

In [107]:
## Chekcing dtypes

dict(zip(datac.dtypes.index , datac.dtypes.values))

{'Player': dtype('O'),
 'Matches_Test': dtype('int64'),
 'Matches_ODI': dtype('int64'),
 'Matches_T20': dtype('int64'),
 'Matches_IPL': dtype('int64'),
 'batting_Innings_Test': dtype('int64'),
 'batting_Innings_ODI': dtype('int64'),
 'batting_Innings_T20': dtype('int64'),
 'batting_Innings_IPL': dtype('int64'),
 'batting_Runs_Test': dtype('int64'),
 'batting_Runs_ODI': dtype('int64'),
 'batting_Runs_T20': dtype('int64'),
 'batting_Runs_IPL': dtype('int64'),
 'batting_Balls_Test': dtype('int64'),
 'batting_Balls_ODI': dtype('int64'),
 'batting_Balls_T20': dtype('int64'),
 'batting_Balls_IPL': dtype('int64'),
 'batting_Highest_Test': dtype('int64'),
 'batting_Highest_ODI': dtype('int64'),
 'batting_Highest_T20': dtype('int64'),
 'batting_Highest_IPL': dtype('int64'),
 'batting_Average_Test': dtype('float64'),
 'batting_Average_ODI': dtype('float64'),
 'batting_Average_T20': dtype('float64'),
 'batting_Average_IPL': dtype('float64'),
 'batting_SR_Test': dtype('float64'),
 'batting_SR_ODI': dtype('float64'),
 'batting_SR_T20': dtype('float64'),
 'batting_SR_IPL': dtype('float64'),
 'batting_Not Out_Test': dtype('int64'),
 'batting_Not Out_ODI': dtype('int64'),
 'batting_Not Out_T20': dtype('int64'),
 'batting_Not Out_IPL': dtype('int64'),
 'batting_Fours_Test': dtype('int64'),
 'batting_Fours_ODI': dtype('int64'),
 'batting_Fours_T20': dtype('int64'),
 'batting_Fours_IPL': dtype('int64'),
 'batting_Sixes_Test': dtype('int64'),
 'batting_Sixes_ODI': dtype('int64'),
 'batting_Sixes_T20': dtype('int64'),
 'batting_Sixes_IPL': dtype('int64'),
 'batting_Ducks_Test': dtype('int64'),
 'batting_Ducks_ODI': dtype('int64'),
 'batting_Ducks_T20': dtype('int64'),
 'batting_Ducks_IPL': dtype('int64'),
 'batting_50s_Test': dtype('int64'),
 'batting_50s_ODI': dtype('int64'),
 'batting_50s_T20': dtype('int64'),
 'batting_50s_IPL': dtype('int64'),
 'batting_100s_Test': dtype('int64'),
 'batting_100s_ODI': dtype('int64'),
 'batting_100s_T20': dtype('int64'),
 'batting_100s_IPL': dtype('int64'),
 'batting_200s_Test': dtype('int64'),
 'batting_200s_ODI': dtype('int64'),
 'batting_200s_T20': dtype('int64'),
 'batting_200s_IPL': dtype('int64'),
 'batting_300s_Test': dtype('int64'),
 'batting_300s_ODI': dtype('int64'),
 'batting_300s_T20': dtype('int64'),
 'batting_300s_IPL': dtype('int64'),
 'batting_400s_Test': dtype('int64'),
 'batting_400s_ODI': dtype('int64'),
 'batting_400s_T20': dtype('int64'),
 'batting_400s_IPL': dtype('int64'),
 'bowling_Test_Innings': dtype('int64'),
 'bowling_ODI_Innings': dtype('int64'),
 'bowling_T20_Innings': dtype('int64'),
 'bowling_IPL_Innings': dtype('int64'),
 'bowling_Test_Balls': dtype('int64'),
 'bowling_ODI_Balls': dtype('int64'),
 'bowling_T20_Balls': dtype('int64'),
 'bowling_IPL_Balls': dtype('int64'),
 'bowling_Test_Runs': dtype('int64'),
 'bowling_ODI_Runs': dtype('int64'),
 'bowling_T20_Runs': dtype('int64'),
 'bowling_IPL_Runs': dtype('int64'),
 'bowling_Test_Maidens': dtype('int64'),
 'bowling_ODI_Maidens': dtype('int64'),
 'bowling_T20_Maidens': dtype('int64'),
 'bowling_IPL_Maidens': dtype('int64'),
 'bowling_Test_Wickets': dtype('int64'),
 'bowling_ODI_Wickets': dtype('int64'),
 'bowling_T20_Wickets': dtype('int64'),
 'bowling_IPL_Wickets': dtype('int64'),
 'bowling_Test_Avg': dtype('float64'),
 'bowling_ODI_Avg': dtype('float64'),
 'bowling_T20_Avg': dtype('float64'),
 'bowling_IPL_Avg': dtype('float64'),
 'bowling_Test_Eco': dtype('float64'),
 'bowling_ODI_Eco': dtype('float64'),
 'bowling_T20_Eco': dtype('float64'),
 'bowling_IPL_Eco': dtype('float64'),
 'bowling_Test_SR': dtype('float64'),
 'bowling_ODI_SR': dtype('float64'),
 'bowling_T20_SR': dtype('float64'),
 'bowling_IPL_SR': dtype('float64'),
 'bowling_Test_BBI': dtype('O'),
 'bowling_ODI_BBI': dtype('O'),
 'bowling_T20_BBI': dtype('O'),
 'bowling_IPL_BBI': dtype('O'),
 'bowling_Test_BBM': dtype('O'),
 'bowling_ODI_BBM': dtype('O'),
 'bowling_T20_BBM': dtype('O'),
 'bowling_IPL_BBM': dtype('O'),
 'bowling_Test_4w': dtype('int64'),
 'bowling_ODI_4w': dtype('int64'),
 'bowling_T20_4w': dtype('int64'),
 'bowling_IPL_4w': dtype('int64'),
 'bowling_Test_5w': dtype('int64'),
 'bowling_ODI_5w': dtype('int64'),
 'bowling_T20_5w': dtype('int64'),
 'bowling_IPL_5w': dtype('int64'),
 'bowling_Test_10w': dtype('int64'),
 'bowling_ODI_10w': dtype('int64'),
 'bowling_T20_10w': dtype('int64'),
 'bowling_IPL_10w': dtype('int64'),
 'team_name': dtype('O')}

In [136]:
## Selecting only "object" dtypes to correct the data

data1 = datac.select_dtypes(include="object").drop(['Player','team_name'], axis=1)
data1

,bowling_Test_BBI,bowling_ODI_BBI,bowling_T20_BBI,bowling_IPL_BBI,bowling_Test_BBM,bowling_ODI_BBM,bowling_T20_BBM,bowling_IPL_BBM
0,-/-,4/25,2/23,-/-,-/-,4/25,2/23,-/-
1,0/1,1/1,1/4,-/-,0/1,1/1,1/4,-/-
2,-/-,4/22,4/44,-/-,-/-,4/22,4/44,-/-
3,-/-,6/43,4/20,0/12,-/-,6/43,4/20,0/12
4,-/-,5/45,4/22,-/-,-/-,5/45,4/22,-/-
...,...,...,...,...,...,...,...,...
204,May-61,Apr-33,03-Jul,-/-,6/106,Apr-33,03-Jul,-/-
205,Mar-23,May-63,Mar-20,-/-,Apr-47,May-63,Mar-20,-/-
206,Apr-92,Jun-52,Apr-30,-/-,5/123,Jun-52,Apr-30,-/-
207,May-54,Apr-16,Mar-15,-/-,Jul-98,Apr-16,Mar-15,-/-
208,5/140,Feb-30,03-Oct,-/-,5/170,Feb-30,03-Oct,-/-

---

### Column -> **'bowling_Test_BBI'**

---

In [137]:
data1["bowling_Test_BBI"].unique()

array(['-/-', '0/1', '0/4', '3/36', '1/75', '1/30', '7/66', '0/8', '3/18',
       '2/45', '3/45', '4/10', '4/127', '1/48', '5/27', '3/46', '3/22',
       '0/0', '6/23', '8/50', '6/48', '6/67', '3/55', 'Apr-71', '0/13',
       'May-51', 'Apr-60', 'Jul-58', 'Apr-37', '5/166', '0/9', 'Jul-36',
       'Feb-68', '5/49', '6/22', '4/18', '6/17', '2/33', '5/8', '6/45',
       '6/37', '6/53', '3/29', '4/58', '1/65', 'Mar-37', 'May-28',
       'Jun-27', 'May-40', 'Jun-56', 'Jun-15', 'Feb-54', 'Jul-59',
       'Jul-42', 'Jan-26', 'Jul-61', '0/2', 'Jun-88', '0/17', '0/11',
       '3/28', '2/63', '6/118', '5/39', '2/5', '5/13', '4/75', '2/40',
       '6/41', '6/86', '3/42', '4/44', '0/47', '3/11', '7/23', '7/53',
       '2/4', '7/64', '6/30', '1/1', '3/1', '6/44', '4/16', '3/31',
       '6/51', '4/33', '5/63', '2/27', '3/13', '5/64', '3/38', '2/26',
       '5/32', '4/47', '7/112', '6/39', '3/91', 'Apr-44', 'Mar-25',
       '01-Dec', '3/182', '01-Oct', '0/5', 'May-50', '6/132', 'May-47',
       'Apr-63', '5/34', '6/42', '1/73', '1/72', '8/62', 'Mar-24',
       '7/113', 'Mar-20', 'Jan-22', '0/3', 'May-54', '0/6', 'May-61',
       'Mar-23', 'Apr-92', '5/140'], dtype=object)

In [138]:
data1["bowling_Test_BBI"].apply(lambda x: str(x).replace('-/-','0').replace('-','/').split('/')[0]).unique()

array(['0', '3', '1', '7', '2', '4', '5', '6', '8', 'Apr', 'May', 'Jul',
       'Feb', 'Mar', 'Jun', 'Jan', '01'], dtype=object)

In [139]:
## Splitting wickets separately and cleaning

data1["bowling_Test_BBI"].apply(lambda x: str(x).replace('-/-','0').replace('-','/').split('/')[0]).map({'0':'0','Apr':'4', 
                                                                                                         'May':'5', 'Jul':'7', 
                                                                                                         'Feb':'2', 'Mar':'3', 
                                                                                                         'Jun':'6','Jan':'1', 
                                                                                                         '01':'1', '3':'3', 
                                                                                                         '1':'1', '7':'7', 
                                                                                                         '2':'2', '4':'4', 
                                                                                                         '5':'5', '6':'6', '8':'8'})

0      0
1      0
2      0
3      0
4      0
      ..
204    5
205    3
206    4
207    5
208    5
Name: bowling_Test_BBI, Length: 209, dtype: object

In [140]:
## Spilitted Runs 

data1["bowling_Test_BBI"].apply(lambda x: str(x).replace('-/-','0').replace('-','/').split('/')[-1])

0        0
1        1
2        0
3        0
4        0
      ...
204     61
205     23
206     92
207     54
208    140
Name: bowling_Test_BBI, Length: 209, dtype: object

In [141]:
## After Cleaning Concatinating

data1["bowling_Test_BBI"] = data1["bowling_Test_BBI"].apply(lambda x: str(x).replace('-/-','0').replace('-','/').split('/')[0]).map({'0':'0','Apr':'4', 
                                                                                                         'May':'5', 'Jul':'7', 
                                                                                                         'Feb':'2', 'Mar':'3', 
                                                                                                         'Jun':'6','Jan':'1', 
                                                                                                         '01':'1', '3':'3', 
                                                                                                         '1':'1', '7':'7', 
                                                                                                         '2':'2', '4':'4', 
                                                                                                         '5':'5', '6':'6', '8':'8'}) + '/' + data1["bowling_Test_BBI"].apply(lambda x: str(x).replace('-/-','0').replace('-','/').split('/')[-1])

In [142]:
data1["bowling_Test_BBI"].replace('0/0','0',inplace=True)
data1["bowling_Test_BBI"]

0          0
1        0/1
2          0
3          0
4          0
       ...
204     5/61
205     3/23
206     4/92
207     5/54
208    5/140
Name: bowling_Test_BBI, Length: 209, dtype: object

---

### **Column -> 'bowling_ODI_BBI'**

---

In [143]:
data1["bowling_ODI_BBI"].unique()

array(['4/25', '1/1', '4/22', '6/43', '5/45', '0/8', '-/-', '5/17',
       '5/50', '0/9', '5/32', '7/18', '4/31', '1/2', '3/16', '3/39',
       '4/28', '4/40', '3/32', '5/33', '2/31', '2/46', '5/70', '4/44',
       '6/28', '5/35', '3/23', '6/52', '5/46', '4/51', '2/53', 'May-58',
       '03-Apr', 'Jun-26', 'Apr-25', '0/12', 'Apr-41', 'Mar-13', 'Jun-43',
       '01-Dec', 'May-29', 'Mar-18', '0/6', '5/27', '5/61', '5/29',
       '6/45', '1/5', '3/52', '6/40', '3/44', '4/33', '4/46', '4/85',
       '6/24', '5/48', 'Apr-24', 'Jun-19', 'Jun-25', '0/10', 'Jul-57',
       'Jun-21', 'Feb-58', 'May-33', 'Feb-27', 'Apr-37', '0/1', '0/11',
       'Apr-31', 'Jan-13', 'Jun-42', '1/26', '6/55', '2/17', '4/13',
       '4/24', '3/33', '4/19', '4/15', '5/21', '2/10', '3/26', '6/39',
       '2/6', '5/30', '0/0', '7/33', '7/34', '1/19', '3/45', '5/34',
       '5/14', '4/41', '5/26', '0/15', '4/27', '6/35', '2/18', '3/59',
       '4/36', '1/8', '7/45', '4/16', '6/16', '6/58', '1/3', '5/49',
       'Jun-20', 'Mar-32', '0/7', 'Mar-82', 'Mar-15', 'Jun-33', '0/13',
       'Feb-36', 'Jun-38', 'Apr-13', 'Jun-44', '2/40', '4/35', '4/48',
       '3/17', '6/27', 'Mar-39', 'Apr-55', 'Apr-43', 'Feb-50', 'Apr-28',
       'Mar-54', 'Apr-33', 'May-63', 'Jun-52', 'Apr-16', 'Feb-30'],
      dtype=object)

In [144]:
data1["bowling_ODI_BBI"].apply(lambda x: str(x).replace('-/-','0').replace('-','/').split('/')[0]).unique()

array(['4', '1', '6', '5', '0', '7', '3', '2', 'May', '03', 'Jun', 'Apr',
       'Mar', '01', 'Jul', 'Feb', 'Jan'], dtype=object)

In [145]:
## Splitting wickets separately and cleaning

data1["bowling_ODI_BBI"].apply(lambda x: str(x).replace('-/-','0').replace('-','/').split('/')[0]).map({'0':'0','Apr':'4', 
                                                                                                         'May':'5', 'Jul':'7', 
                                                                                                         'Feb':'2', 'Mar':'3', 
                                                                                                         'Jun':'6','Jan':'1', 
                                                                                                         '01':'1', '3':'3', 
                                                                                                         '1':'1', '7':'7', 
                                                                                                         '2':'2', '4':'4', 
                                                                                                         '5':'5', '6':'6','03':'3'})

0      4
1      1
2      4
3      6
4      5
      ..
204    4
205    5
206    6
207    4
208    2
Name: bowling_ODI_BBI, Length: 209, dtype: object

In [147]:
## Spilitted Runs 

data1["bowling_ODI_BBI"].apply(lambda x: str(x).replace('-/-','0').replace('-','/').split('/')[-1]).unique()

array(['25', '1', '22', '43', '45', '8', '0', '17', '50', '9', '32', '18',
       '31', '2', '16', '39', '28', '40', '33', '46', '70', '44', '35',
       '23', '52', '51', '53', '58', 'Apr', '26', '12', '41', '13', 'Dec',
       '29', '6', '27', '61', '5', '85', '24', '48', '19', '10', '57',
       '21', '37', '11', '42', '55', '15', '30', '34', '14', '59', '36',
       '3', '49', '20', '7', '82', '38', '54', '63'], dtype=object)

In [149]:
## Spilitted Runs after Cleaning

data1['bowling_ODI_BBI'].apply(lambda x:str(x).replace('-/-','0').replace('-','/').split('/')).apply(lambda x:x[-1]).apply(lambda x:x if x.isdigit() else '12' if x == 'Dec' else '4').unique()

array(['25', '1', '22', '43', '45', '8', '0', '17', '50', '9', '32', '18',
       '31', '2', '16', '39', '28', '40', '33', '46', '70', '44', '35',
       '23', '52', '51', '53', '58', '4', '26', '12', '41', '13', '29',
       '6', '27', '61', '5', '85', '24', '48', '19', '10', '57', '21',
       '37', '11', '42', '55', '15', '30', '34', '14', '59', '36', '3',
       '49', '20', '7', '82', '38', '54', '63'], dtype=object)

In [151]:
## After Cleaning Concatinating

data1["bowling_ODI_BBI"] = data1["bowling_ODI_BBI"].apply(lambda x: str(x).replace('-/-','0').replace('-','/').split('/')[0]).map({'0':'0','Apr':'4', 
                                                                                                         'May':'5', 'Jul':'7', 
                                                                                                         'Feb':'2', 'Mar':'3', 
                                                                                                         'Jun':'6','Jan':'1', 
                                                                                                         '01':'1', '3':'3', 
                                                                                                         '1':'1', '7':'7', 
                                                                                                         '2':'2', '4':'4', 
                                                                                                         '5':'5', '6':'6', '8':'8'}) + '/' + data1['bowling_ODI_BBI'].apply(lambda x:str(x).replace('-/-','0').replace('-','/').split('/')).apply(lambda x:x[-1]).apply(lambda x:x if x.isdigit() else '12' if x == 'Dec' else '4')

In [152]:
data1["bowling_ODI_BBI"].replace('0/0','0',inplace=True)

In [154]:
data1["bowling_ODI_BBI"].fillna(0, inplace=True)

In [155]:
data1["bowling_ODI_BBI"].unique()

array(['4/25', '1/1', '4/22', '6/43', '5/45', '0/8', '0', '5/17', '5/50',
       '0/9', '5/32', '7/18', '4/31', '1/2', '3/16', '3/39', '4/28',
       '4/40', '3/32', '5/33', '2/31', '2/46', '5/70', '4/44', '6/28',
       '5/35', '3/23', '6/52', '5/46', '4/51', '2/53', '5/58', 0, '6/26',
       '0/12', '4/41', '3/13', '1/12', '5/29', '3/18', '0/6', '5/27',
       '5/61', '6/45', '1/5', '3/52', '6/40', '3/44', '4/33', '4/46',
       '4/85', '6/24', '5/48', '4/24', '6/19', '6/25', '0/10', '7/57',
       '6/21', '2/58', '2/27', '4/37', '0/1', '0/11', '1/13', '6/42',
       '1/26', '6/55', '2/17', '4/13', '3/33', '4/19', '4/15', '5/21',
       '2/10', '3/26', '6/39', '2/6', '5/30', '7/33', '7/34', '1/19',
       '3/45', '5/34', '5/14', '5/26', '0/15', '4/27', '6/35', '2/18',
       '3/59', '4/36', '1/8', '7/45', '4/16', '6/16', '6/58', '1/3',
       '5/49', '6/20', '0/7', '3/82', '3/15', '6/33', '0/13', '2/36',
       '6/38', '6/44', '2/40', '4/35', '4/48', '3/17', '6/27', '4/55',
       '4/43', '2/50', '3/54', '5/63', '2/30'], dtype=object)

---

### **Column -> 'bowling_T20_BBI'**

---

In [156]:
data1["bowling_T20_BBI"].unique()

array(['2/23', '1/4', '4/44', '4/20', '4/22', '-/-', '4/10', '5/20',
       '5/3', '5/13', '0/9', '3/20', '1/16', '3/10', '4/23', '3/22',
       '3/35', '6/30', '2/33', '3/15', '1/33', '5/19', '4/31', '4/12',
       '2/17', '3/12', 'Feb-27', '03-Oct', 'Apr-19', '04-Dec', 'Apr-33',
       'May-20', '06-Oct', 'Mar-31', '03-Nov', 'Feb-19', '4/2', '3/26',
       '4/6', '3/4', '1/27', '2/9', '4/33', '1/10', '3/17', '3/9', '3/24',
       '0/36', '5/10', '4/36', 'Apr-16', '03-Jul', 'May-17', 'Mar-15',
       'Apr-17', 'Mar-17', '04-Aug', 'Jan-22', 'Apr-27', '0/2', 'Jan-13',
       'Jun-25', '3/19', '3/21', '4/18', '4/45', '2/7', '4/35', '4/13',
       '3/16', '3/23', '4/30', '1/12', '2/22', '4/28', '2/16', '5/21',
       '0/11', '3/32', '4/11', '5/18', '0/12', '5/14', '3/37', '4/8',
       '3/18', '4/24', '4/14', '4/27', '5/17', '0/0', '5/23', '5/39',
       '5/24', 'Mar-16', 'Feb-22', 'Mar-24', 'Feb-26', '05-Jun', 'Feb-17',
       'Apr-25', '2/15', '2/18', '5/27', '3/44', '2/25', '2/6', '5/28',
       '01-Apr', 'May-18', 'Jan-15', '01-Aug', 'Apr-31', 'Jan-16',
       'Mar-20', 'Apr-30'], dtype=object)

In [157]:
data1["bowling_T20_BBI"].apply(lambda x: str(x).replace('-/-','0').replace('-','/').split('/')[0]).unique()

array(['2', '1', '4', '0', '5', '3', '6', 'Feb', '03', 'Apr', '04', 'May',
       '06', 'Mar', 'Jan', 'Jun', '05', '01'], dtype=object)

In [160]:
## Splitting wickets separately and cleaning

data1["bowling_T20_BBI"].apply(lambda x: str(x).replace('-/-','0').replace('-','/').split('/')[0]).map({'2':'2', '1':'1', 
                                                                                                        '4':'4', '0':'0', 
                                                                                                        '5':'5', '3':'3', 
                                                                                                        '6':'6', 'Feb':'2', 
                                                                                                        '03':'3', 'Apr':'4', 
                                                                                                        '04':'4', 'May':'5',
                                                                                                        '06':'6', 'Mar':'3', 
                                                                                                        'Jan':'1', 'Jun':'6',
                                                                                                        '05':'5', '01':'1'})

0      2
1      1
2      4
3      4
4      4
      ..
204    3
205    3
206    4
207    3
208    3
Name: bowling_T20_BBI, Length: 209, dtype: object

In [161]:
## Spilitted Runs 

data1["bowling_T20_BBI"].apply(lambda x: str(x).replace('-/-','0').replace('-','/').split('/')[-1]).unique()

array(['23', '4', '44', '20', '22', '0', '10', '3', '13', '9', '16', '35',
       '30', '33', '15', '19', '31', '12', '17', '27', 'Oct', 'Dec',
       'Nov', '2', '26', '6', '24', '36', 'Jul', 'Aug', '25', '21', '18',
       '45', '7', '28', '11', '32', '14', '37', '8', '39', 'Jun', 'Apr'],
      dtype=object)

In [163]:
## Splitting Runs and cleaning

data1["bowling_T20_BBI"].apply(lambda x: str(x).replace('-/-','0').replace('-','/').split('/')[-1]).map({'23':'23', '4':'4', '44':'44', 
                                                                                                         '20':'20', '22':'22', '0':'0', 
                                                                                                         '10':'10', '3':'3', '13':'13', 
                                                                                                         '9':'9', '16':'16', '35':'35',
                                                                                                         '30':'30', '33':'33', '15':'15', 
                                                                                                         '19':'19', '31':'31', '12':'12',
                                                                                                         '17':'17', '27':'27', 'Oct':'10',
                                                                                                         'Dec':'12','Nov':'11', '2':'2', 
                                                                                                         '26':'26', '6':'6', '24':'24', 
                                                                                                         '36':'36', 'Jul':'7', 'Aug':'8',
                                                                                                         '25':'25', '21':'21', '18':'18',
                                                                                                         '45':'45', '7':'7', '28':'28', 
                                                                                                         '11':'11', '32':'32', '14':'14', 
                                                                                                         '37':'37', '8':'8', '39':'39', 
                                                                                                         'Jun':'1', 'Apr':'4'}).unique()

array(['23', '4', '44', '20', '22', '0', '10', '3', '13', '9', '16', '35',
       '30', '33', '15', '19', '31', '12', '17', '27', '11', '2', '26',
       '6', '24', '36', '7', '8', '25', '21', '18', '45', '28', '32',
       '14', '37', '39', '1'], dtype=object)

In [167]:
## After Cleaning Concatinating

data1["bowling_T20_BBI"] = data1["bowling_T20_BBI"].apply(lambda x: str(x).replace('-/-','0').replace('-','/').split('/')[0]).map({'2':'2', '1':'1', 
                                                                                                        '4':'4', '0':'0', 
                                                                                                        '5':'5', '3':'3', 
                                                                                                        '6':'6', 'Feb':'2', 
                                                                                                        '03':'3', 'Apr':'4', 
                                                                                                        '04':'4', 'May':'5',
                                                                                                        '06':'6', 'Mar':'3', 
                                                                                                        'Jan':'1', 'Jun':'6',
                                                                                                        '05':'5', '01':'1'}) + '/' + data1["bowling_T20_BBI"].apply(lambda x: str(x).replace('-/-','0').replace('-','/').split('/')[-1]).map({'23':'23', '4':'4', '44':'44', 
                                                                                                                                                                                                                                             '20':'20', '22':'22', '0':'0', 
                                                                                                                                                                                                                                             '10':'10', '3':'3', '13':'13', 
                                                                                                                                                                                                                                             '9':'9', '16':'16', '35':'35',
                                                                                                                                                                                                                                             '30':'30', '33':'33', '15':'15', 
                                                                                                                                                                                                                                             '19':'19', '31':'31', '12':'12',
                                                                                                                                                                                                                                             '17':'17', '27':'27', 'Oct':'10',
                                                                                                                                                                                                                                             'Dec':'12','Nov':'11', '2':'2', 
                                                                                                                                                                                                                                             '26':'26', '6':'6', '24':'24', 
                                                                                                                                                                                                                                             '36':'36', 'Jul':'7', 'Aug':'8',
                                                                                                                                                                                                                                             '25':'25', '21':'21', '18':'18',
                                                                                                                                                                                                                                             '45':'45', '7':'7', '28':'28', 
                                                                                                                                                                                                                                             '11':'11', '32':'32', '14':'14', 
                                                                                                                                                                                                                                             '37':'37', '8':'8', '39':'39', 
                                                                                                                                                                                                                                             'Jun':'1', 'Apr':'4'})

In [168]:
data1["bowling_T20_BBI"].unique()

array(['2/23', '1/4', '4/44', '4/20', '4/22', '0/0', '4/10', '5/20',
       '5/3', '5/13', '0/9', '3/20', '1/16', '3/10', '4/23', '3/22',
       '3/35', '6/30', '2/33', '3/15', '1/33', '5/19', '4/31', '4/12',
       '2/17', '3/12', '2/27', '4/19', '4/33', '6/10', '3/31', '3/11',
       '2/19', '4/2', '3/26', '4/6', '3/4', '1/27', '2/9', '1/10', '3/17',
       '3/9', '3/24', '0/36', '5/10', '4/36', '4/16', '3/7', '5/17',
       '4/17', '4/8', '1/22', '4/27', '0/2', '1/13', '6/25', '3/19',
       '3/21', '4/18', '4/45', '2/7', '4/35', '4/13', '3/16', '3/23',
       '4/30', '1/12', '2/22', '4/28', '2/16', '5/21', '0/11', '3/32',
       '4/11', '5/18', '0/12', '5/14', '3/37', '3/18', '4/24', '4/14',
       '5/23', '5/39', '5/24', '2/26', '5/1', '4/25', '2/15', '2/18',
       '5/27', '3/44', '2/25', '2/6', '5/28', '1/15', '1/8'], dtype=object)

In [169]:
data1["bowling_ODI_BBI"].replace('0/0','0',inplace=True)

---

### **Column -> 'bowling_IPL_BBI'**

---

In [170]:
data1["bowling_IPL_BBI"].unique()

array(['-/-', '0/12', '4/11', '3/27', '4/24', '1/11', '0/5', '0/2',
       '2/30', '2/15', '4/15', '3/12', '2/12', '4/30', '0/62', '4/34',
       '6/19', '1/47', '4/25', '5/17', '2/19', '0/58', 'Apr-29', 'Mar-17',
       '2/23', '3/15', '3/6', '0/14', '5/14', '4/26', '2/27', '3/29',
       '01-May', '05-Oct', 'Apr-14', '04-Nov', 'Apr-21', 'Mar-40',
       'Apr-34', 'May-16', '04-Jun', 'Apr-36', '01-Jul', '0/7', 'Apr-23',
       'Feb-25', 'May-40', '3/4', '3/26', '4/28', '1/28', '2/13', '0/11',
       '3/20', '4/18', '1/8', '1/6', '3/36', '4/23', '0/16', '4/12',
       '4/17', '4/21', '4/10', '1/21', 'Apr-19', 'Feb-41', 'Jan-16',
       'May-13', 'Mar-20', '3/21', '1/22', '4/52', '5/15', '3/47', '2/17',
       '0/32', '2/6', 'Jan-19'], dtype=object)

In [171]:
data1["bowling_IPL_BBI"].apply(lambda x: str(x).replace('-/-','0').replace('-','/').split('/')[0]).unique()

array(['0', '4', '3', '1', '2', '6', '5', 'Apr', 'Mar', '01', '05', '04',
       'May', 'Feb', 'Jan'], dtype=object)

In [174]:
## Splitting wickets separately and cleaning

data1["bowling_IPL_BBI"].apply(lambda x: str(x).replace('-/-','0').replace('-','/').split('/')[0]).map({'0':'0', '4':'4', 
                                                                                                        '3':'3', '1':'1', 
                                                                                                        '2':'2', '6':'6', 
                                                                                                        '5':'5', 'Apr':'4',
                                                                                                        'Mar':'3', '01':'1', 
                                                                                                        '05':'5', '04':'4',
                                                                                                        'May':'5', 'Feb':'2', 'Jan':'1'})

0      0
1      0
2      0
3      0
4      0
      ..
204    0
205    0
206    0
207    0
208    0
Name: bowling_IPL_BBI, Length: 209, dtype: object

In [175]:
## Spilitted Runs 

data1["bowling_IPL_BBI"].apply(lambda x: str(x).replace('-/-','0').replace('-','/').split('/')[-1]).unique()

array(['0', '12', '11', '27', '24', '5', '2', '30', '15', '62', '34',
       '19', '47', '25', '17', '58', '29', '23', '6', '14', '26', 'May',
       'Oct', 'Nov', '21', '40', '16', 'Jun', '36', 'Jul', '7', '4', '28',
       '13', '20', '18', '8', '10', '41', '22', '52', '32'], dtype=object)

## Single Function to Clean Data

+ Our Previous approach was lenghy, So we can make all Cleaning within a single function

In [178]:
month_map = {
    "Jan": "01", "Feb": "02", "Mar": "03", "Apr": "04", "May": "05", "Jun": "06",
    "Jul": "07", "Aug": "08", "Sep": "09", "Oct": "10", "Nov": "11", "Dec": "12"
}

In [183]:
def transform_value(value):
    value = str(value).strip()  # Convert to string and remove extra spaces
    
    if "-" in value:
        parts = value.split("-", 1)  # Split into two parts
        
        if parts[0] in month_map:  
            # Format: Month-Run (e.g., "May-61" -> "05/61")
            return f"{month_map[parts[0]]}/{parts[1]}"
        
        elif parts[1] in month_map:  
            # Format: Run-Month (e.g., "03-Oct" -> "10/03")
            return f"{month_map[parts[1]]}/{parts[0]}"
        
    return value

In [190]:
data2 = data1.applymap(transform_value)

In [191]:
## Final Cleaned 8 Columns

data2

,bowling_Test_BBI,bowling_ODI_BBI,bowling_T20_BBI,bowling_IPL_BBI,bowling_Test_BBM,bowling_ODI_BBM,bowling_T20_BBM,bowling_IPL_BBM
0,0,4/25,2/23,-/-,-/-,4/25,2/23,-/-
1,0/1,1/1,1/4,-/-,0/1,1/1,1/4,-/-
2,0,4/22,4/44,-/-,-/-,4/22,4/44,-/-
3,0,6/43,4/20,0/12,-/-,6/43,4/20,0/12
4,0,5/45,4/22,-/-,-/-,5/45,4/22,-/-
...,...,...,...,...,...,...,...,...
204,5/61,4/33,3/7,-/-,6/106,04/33,07/03,-/-
205,3/23,5/63,3/20,-/-,04/47,05/63,03/20,-/-
206,4/92,6/52,4/30,-/-,5/123,06/52,04/30,-/-
207,5/54,4/16,3/15,-/-,07/98,04/16,03/15,-/-
208,5/140,2/30,3/10,-/-,5/170,02/30,10/03,-/-

In [197]:
l1 = list(data2.columns)
l1

['bowling_Test_BBI',
 'bowling_ODI_BBI',
 'bowling_T20_BBI',
 'bowling_IPL_BBI',
 'bowling_Test_BBM',
 'bowling_ODI_BBM',
 'bowling_T20_BBM',
 'bowling_IPL_BBM']

In [198]:
## Replacing Columns within our original Dataframe

for i in l1:
    data[i] = data2[i]

## Clean Data

In [201]:
data

,Player,Matches_Test,Matches_ODI,Matches_T20,Matches_IPL,batting_Innings_Test,batting_Innings_ODI,batting_Innings_T20,batting_Innings_IPL,batting_Runs_Test,...,bowling_IPL_4w,bowling_Test_5w,bowling_ODI_5w,bowling_T20_5w,bowling_IPL_5w,bowling_Test_10w,bowling_ODI_10w,bowling_T20_10w,bowling_IPL_10w,team_name
0,Aftab Alam,0,27,12,0,0,17,5,0,0,...,0,0,0,0,0,0,0,0,0,Afghanistan
1,Asghar Afghan,6,114,75,0,10,108,68,0,440,...,0,0,0,0,0,0,0,0,0,Afghanistan
2,Dawlat Zadran,0,82,33,0,0,56,17,0,0,...,0,0,0,0,0,0,0,0,0,Afghanistan
3,Gulbadin Naib,0,89,74,2,0,78,64,1,0,...,0,0,1,0,0,0,0,0,0,Afghanistan
4,Hamid Hassan,0,38,25,0,0,22,9,0,0,...,0,0,1,0,0,0,0,0,0,Afghanistan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,Tendai Chatara,9,87,60,0,18,57,16,0,94,...,0,1,0,0,0,0,0,0,0,Zimbabwe
205,Donald Tiripano,16,38,23,0,31,29,16,0,531,...,0,0,1,0,0,0,0,0,0,Zimbabwe
206,Chris Mpofu,15,84,32,0,28,41,11,0,105,...,0,0,1,0,0,0,0,0,0,Zimbabwe
207,Kyle Jarvis,13,49,21,0,24,33,12,0,128,...,0,3,0,0,0,0,0,0,0,Zimbabwe
208,Brandon Mavuta,5,14,13,0,8,10,10,0,82,...,0,1,0,0,0,0,0,0,0,Zimbabwe

In [202]:
data.to_csv("Cleaned_data.csv",index=False)